@model EvidencePojistenychWebAppASP.Models.Pojisteni
@{
    ViewData["Title"] = "Create";
}



<h4>Nové pojištění</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="NazevPojisteni" class="fw-bold">Pojištění</label>
                <input asp-for="NazevPojisteni" class="form-control" />
                <span asp-validation-for="NazevPojisteni" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="CastkaPojisteni" class="fw-bold">Částka</label>
                <input asp-for="CastkaPojisteni" class="form-control" />
                <span asp-validation-for="CastkaPojisteni" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="PredmetPojisteni" class="fw-bold"></label>
                <input asp-for="PredmetPojisteni" class="form-control" />
                <span asp-validation-for="PredmetPojisteni" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="PlatnostOd" class="fw-bold"></label>
                <input asp-for="PlatnostOd" class="form-control" />
                <span asp-validation-for="PlatnostOd" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="PlatnostDo" class="fw-bold"></label>
                <input asp-for="PlatnostDo" class="form-control" />
                <span asp-validation-for="PlatnostDo" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="PojistenecId" class="fw-bold">Jméno pojištěnce</label>
                <select asp-for="PojistenecId" class ="form-control" asp-items="ViewBag.PojistenecId"></select>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">
                    Vytvořit
                </button>
            </div>
        </form>
    </div>
</div>



<div>
    <a asp-action="Index">Zpět</a>
</div>

